@font-face { 
  font-family: News Cycle; 
    src: url('../fonts/NewsCycle-Regular.eot'); 
    src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

body { 
  font: normal .80em arial, sans-serif;
  background: #000 url(../images/pattern.png);
  color: #444;
  overflow-y: scroll;
  zoom: 1.5;
}

h1 { 
  font: normal 170% arial, arial, sans-serif;
  padding: 0px 0 5px 0;
}

h2 { 
  font: normal 120% arial, arial, sans-serif;
  padding: 0px 0 0px 0;
}

h3 { 
  font: normal 100% arial, arial, sans-serif;
  padding: 0px 0px 0px 0;
  margin: 0px;
  text-align: right;
}

h4 { 
  font: normal 140% arial, arial, sans-serif;
  padding: 0px 0 0px 0;
}



#main, nav, #container, #logo, #site_content { 
  margin-left: auto; 
  margin-right: auto;
}

#main {
  margin: 5px auto;
  width: 930px;
  background: transparent;
  padding-bottom: 30px;
}


header { 
  background: transparent;
  height: 150px;
}

#logo { 
  width: 500px;
  height: 125px;
  background: transparent;
  padding: 0 0 0 25px;
  float: left;  
}

#logo h1 {
  font: normal 320% 'News Cycle', arial, sans-serif;
  margin: 0;
  padding: 0 0 0 0 ;
}

#logo h2 {
  font: normal 140% 'News Cycle', arial, sans-serif;
  margin: 0;
  padding: 0 0 0 0;
}

#header_sidebar_container { 
  float: left;
  width: 90px;
  padding: 0;
  height: 125px;
}


nav { 
  height: 44px;
  width: 928px;
  float: right;
  margin: -20px auto 20px auto;
  color: #222;
  background: #333; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#444, #222);
  background: -o-linear-gradient(#444, #222);
  background: -webkit-linear-gradient(#444, #222);
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
  border: 1px solid #222;
} 

#site_content { 
  width: 930px;
  overflow: hidden;
  background: #FFF;
}

#sidebar_container { 
  float: right;
  width: 310px;
  padding: 0;
  height: 310px;
}

#content { 
  text-align: justify;
  width: 500px;
  margin: 0 0 0 0;
  float: left;
  padding: 40px 60px 60px 60px;
}

#content2 { 
  text-align: justify;
  width: 500px;
  height: 310px;
  margin: 0 0 0 0;
  float: left;
  padding: 40px 60px 60px 60px;
}


#content_full { 
  text-align: justify;
  width: 810px;
  margin: 0 0 0 0;
  float: left;
  padding: 40px 60px 40px 60px;
}


#sidebar_container_exped { 
  width: 250px;
  height: 310px;
  float: left;
}

#sidebar_container_photo { 
  width: 500px;
  padding: 60px 215px 60px 215px
}

footer { 
  background: transparent;
  height: 40px;
  padding-top: 40px
}

h2_caption { 
  font: normal 120% arial, arial, sans-serif;
  padding: 0px 0 0px 0;
  text-align: justify;
}

/* Configuration of menu width */
html body ul.sf-menu ul,html body ul.sf-menu ul li { 
  width: 220px;
}

html body ul.sf-menu ul ul { 
  margin: 0 0 0 220px;
}

/* Framework for proper showing/hiding/positioning */
ul.sf-menu,ul.sf-menu * { 
  margin: 0;
  padding: 0;
}

ul.sf-menu { 
  display: block;
  position: relative;
}
  
ul.sf-menu li { 
  display: block;
  list-style: none;
  float: left;
  position: relative;
}
  
ul.sf-menu li:hover { 
  visibility: inherit; /* fixes IE7 'sticky bug' */ 
}

ul.sf-menu a { 
  display: block;
  position: relative;
}
  
ul.sf-menu ul { 
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}
  
ul.sf-menu ul a { 
  zoom: 1; /* IE6/7 fix */ 
}

ul.sf-menu ul li { 
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}
  
ul.sf-menu ul ul { 
  top: 0;
  margin: 0 0 0 150px;
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul, 
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul { 
  left: auto;
}
  
ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul { 
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow { 
  width: 7px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 5px;
  display: block;
  background: url(../images/arrows-white.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow { 
  right: 5px;
  top: 20px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav { 
  float: left;
}

ul#nav ul { 
  background: #222;
  margin-top: 4px;
  padding-bottom: 15px;
}

ul#nav li a { 
  padding: 7px 25px 6px 25px;
  font: 140% 'News Cycle', arial, sans-serif;
  text-decoration: none;
  color: #FFF;
  margin-right: 2px;
}

ul#nav li a:hover, ul#nav li a:focus, ul#nav li.selected a, ul#nav li.selected a:hover, ul#nav li.selected a:focus { 
  color: #09BCE8;
  text-shadow: none;
}

ul#nav ul li a { 
  color: #FFF;
}

ul#nav ul li a:hover { 
  color: #09BCE8;
  margin-right: 2px;
}

